.app {
  width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.intro {
  font-size: 36px;
  color: rgb(97, 218, 248);
}

.logo-box {
  margin-top: 100px;
  width: 300px;
  height: 300px;
  margin-bottom: 30px;

  img {
    height: 100%;
    width: 100%;
    animation: logo-rotate 10s linear infinite;
  }
}

@keyframes logo-rotate {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
