.app {
  width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.intro {
  font-size: 36px;
  color: rgb(97, 218, 248);
}

.logo-box {
  margin-top: 100px;
  width: 300px;
  height: 300px;
  margin-bottom: 30px;

  img {
    height: 100%;
    width: 100%;
    animation: logo-rotate 10s linear infinite;
  }
}

.link-box {
  display: flex;
  width: 50%;
  justify-content: space-around;
  font-size: 24px;
  margin-top: 20px;

  a {
    color: white;
    text-decoration: none;
  }

  :global {

    a.active {
      color: rgb(97, 218, 248);
    }
  }
}

.route-box {
  margin-top: 15px;
  font-size: 16px;
  color: white;
  text-align: center;
  height: 80px;
}

@keyframes logo-rotate {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
